.background{
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    text-align: -webkit-center;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(71,92,122,1) 0%, rgba(104,93,121,1) 20%, rgba(171,108,130,1) 40%, rgba(216,115,127,1) 60%, rgba(255,138,91,1) 80%);
    .card{
        min-width: 300px;
        min-height: 300px;
        width: 25vw;
        height: 25vw;
        top: 25vh;
        background-color: #ff8a5b;        
        box-shadow: 5px 5px 10px #625c5c;
        border-radius: 2rem;
        .card-content{
            text-align: center;
            padding: 10px;
            input{
                width: 250px;
            }
            .logo{
                background-image: url("/../../assets/logo-circle-technology-clip-art-circle.jpg");
                background-size: auto;
            }
            .login-header{
                padding-top: 10px;
            }
            .username-field{
                padding-top: 40px;
                padding-bottom: 50px;
                text-align: -webkit-center;
            }
            .password-field{
                text-align: -webkit-center;
            }
            .login-button{
                padding-top: 40px;
            }
        }
    }
}

#username{
    border-radius: 8px;
}

#password{
    border-radius: 8px;
}

#login{
    border: 1px solid;
    border-radius: 5px;
}