.background{
    width: 100vw;
    min-width: 320px;
    text-align: -webkit-center;
    margin: 0 auto;
    .card{
        display: -webkit-inline-box;
        min-width: 680px;
        min-height: 300px;
        width: 680px;
        margin-top: 25vh;;
        box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4)!important;
        border-radius: 5px;
        .card-left{
            border-right: 1px solid #e5e5e5;
            padding:20px;
            background-color: #4f86c4;
            width: 50%;
            .cl-header{
                color: white;
            }
            .cl-body{

            }
            .cl-footer{

            }
        }
        .card-right{
            width: 50%;
            text-align: center;
            padding:20px;
            input{
                width: 250px;
            }
            .cr-header{
                padding-top: 10px;
                color: #4f86c4;
            }
            .cr-username-field{
                padding-top: 40px;
                padding-bottom: 50px;
                text-align: -webkit-center;
            }
            .cr-password-field{
                text-align: -webkit-center;
            }
            .cr-login-button{
                padding-top: 10px;
                
                .btn-login{
                    background-color: #4f86c4;
                    color: white;
                    border: 1px solid #4f86c4;
                }
                .btn-login:hover{
                    background-color: white;
                    color: #4f86c4;
                    border: 1px solid #4f86c4;
                }    
            }
            .cr-forgot-password{
                padding: 10px;
                text-align: right;
            }
        }
    }
}

#username{
    border-radius: 8px;
}

#password{
    border-radius: 8px;
}

#login{
    // border: 1px solid;
    border-radius: 5px;
}

#forgot-password{
    text-decoration: none;
    color: #4f86c4;
    font-size: 14px;
    width: 250px;
    padding-right: 15px;
}